<nav class="breadcrumb">
  <span class="breadcrumb-item active">Info</span>
</nav>
<h1>Info</h1>
<div class="rounded border px-2 py-2 my-3 cloudy-knoxville-gradient z-depth-2">
  <p>
    <mdb-icon fas icon="award" size="2x" class="green-text pr-1" aria-hidden="true"></mdb-icon>
    <span class="fa-2x">Special thanks</span>
  </p>
  <p>I'm sending special thanks to jdel for the source server project available as open source at <a
      href='https://github.com/jdel/sspks' target='_blank'>github</a></p>
  <p>Also to the Synology community such as <a href='https://pl.forum.synology.com' target='_blank'>Polish Official
      Forum</a> and <a href='https://www.synologyitalia.com' target='_blank'> SynologyItalia</a></p>
</div>
<div class="rounded border px-2 py-2 my-3 cloudy-knoxville-gradient z-depth-2">
  <p>
    <mdb-icon fas icon="info-circle" size="2x" class="green-text pr-1" aria-hidden="true"></mdb-icon>
    <span class="fa-2x">Other information</span>
  </p>
  <ul>
    <li><a routerLink='/info/privacy-policy'>Privacy policy</a></li>
    <li><a routerLink='/info/credits'>Credits</a></li>
    <li><a routerLink='/info/changelog'>Changelog</a></li>
    <li><a href='https://github.com/szyb/synopackage_dotnet' target='_blank' alt='source code'>Source code on github</a>
    </li>
  </ul>
</div>