<nav class="breadcrumb">
  <span class="breadcrumb-item active">Info</span>
</nav>
<h1>Info</h1>
<div class="rounded border px-2 py-2 my-3 cloudy-knoxville-gradient z-depth-2">
  <p>
    <mdb-icon fas icon="award" size="2x" class="green-text pr-1" aria-hidden="true"></mdb-icon>
    <span class="fa-2x">Special thanks</span>
  </p>
  <p>I'm sending special thanks to jdel for the source server <a href='https://github.com/jdel/sspks'
      target='_blank'>project</a> available as open source. This project helped us to know how the package server works.
    Moreover it is used by many third-party servers. That is why it was so valuable.</p>
  <p>Special thanks also goes to the Synology Communities such as <a href='https://pl.forum.synology.com'
      target='_blank'>Polish Official Forum</a> and <a href='https://www.synologyitalia.com'
      target='_blank'>SynologyItalia</a>. Thank you guys for your
    feedback and help <mdb-icon far icon="grin-alt"></mdb-icon>
  </p>
</div>
<div class="rounded border px-2 py-2 my-3 cloudy-knoxville-gradient z-depth-2">
  <p>
    <mdb-icon fas icon="info-circle" size="2x" class="green-text pr-1" aria-hidden="true"></mdb-icon>
    <span class="fa-2x">Other information</span>
  </p>
  <ul>
    <li><a routerLink='/info/privacy-policy'>Privacy policy</a></li>
    <li><a routerLink='/info/credits'>Credits</a></li>
    <li><a routerLink='/info/changelog'>Changelog</a></li>
    <li><a href='https://github.com/szyb/synopackage_dotnet' target='_blank' alt='source code'>Source code on github</a>
    </li>
  </ul>
</div>