<!--The content below is only a placeholder and can be replaced.-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-md navbar-dark cyan scrolling-navbar ie-nav"
  [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="home"><strong>{{ title }}</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
        <a class="nav-link" routerLink="news">News <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
        <a class="nav-link" routerLink="sources">Sources <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
        <a class="nav-link" routerLink="search">Search <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="navbar-text white-text">
      <app-user-settings-display></app-user-settings-display>
    </div>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="showUserSettingsModal()">
          <mdb-icon *ngIf="isSetup()" fas icon="cog" aria-hidden="true"></mdb-icon>
          <mdb-icon *ngIf="!isSetup()" fas icon="cog" class="animated bounceIn infinite red-text" aria-hidden="true">
          </mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="info">
          <mdb-icon fas icon="info-circle" aria-hidden="true"></mdb-icon>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://www.facebook.com/synopackage/" target="_blank" rel="noopener noreferrer">
          <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>
      </li>
    </ul>

  </links>
</mdb-navbar>
<main>
  <div class="container" style="margin-bottom: 50px;">
    <app-user-settings #basicModal></app-user-settings>
    <div class="row justify-content-center " style="margin-top:35px;">
      <div class="col-10" style="margin-top:35px; height:auto;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<!--Footer-->
<footer class="page-footer font-small fixed-bottom footer-copyright blue py-0 text-center text-white">
  <div class="container-fluid">
    <small>szyb 2017 - {{ actualYear }}. Version: <a routerLink="info/changelog">{{version}}</a></small>
  </div>
</footer>

<!--/.Footer-->
