<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/sources">Sources</a>
  <span class="breadcrumb-item active">{{ nameString }}</span>
</nav>
<h1>Browse source</h1>
<blockquote class="blockquote bq-primary">
  <span class="bq-title">{{ nameString }}</span><span class="px-2">({{ count }})</span>
  <div *ngIf="isResponseArrived">
    <app-parameters [parameters]="parameters" [showSourceName]="0"></app-parameters>
  </div>
</blockquote>
<div *ngIf="!areSettingsSet" class="alert alert-warning" role="alert">User settings are not set. Showing
  results for default model and version
</div>
<div *ngIf="!isResponseArrived">
  <app-wait></app-wait>
</div>
<div *ngIf="isError">
  <p class="alert alert-danger">{{ errorMessage }}</p>
</div>
<div *ngIf="noPackages">
  <p class="alert alert-success">No results found</p>
</div>
<div *ngFor="let package of packages" class="blue-gradient z-depth-2 rounded mb-1 pd-3">
  <app-package-info [package]="package"></app-package-info>
</div>