<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/sources">Sources</a>
  <span class="breadcrumb-item active">{{ nameString }}</span>
</nav>
<h1>Browse source</h1>
<blockquote class="blockquote bq-primary">
  <span class="bq-title">{{ nameString }}</span><span class="px-2">({{ count }})</span>
  <div *ngIf="isResponseArrived">
    <app-parameters [parameters]="parameters" [showSourceName]="0" [url]="sourceUrl" [www]="sourceWww"></app-parameters>
  </div>
</blockquote>
<div *ngIf="!areSettingsSet" class="alert alert-warning" role="alert">User settings are not set. Showing
  results for default model and version
</div>
<div *ngIf="!isResponseArrived">
  <app-wait></app-wait>
</div>
<div *ngIf="isError">
  <p class="alert alert-danger">{{ errorMessage }}</p>
</div>
<div *ngIf="noPackages">
  <p class="alert alert-success">No results found</p>
</div>
<div *ngIf="isResponseArrived && !isError" class="py-2">
  <span>Share results <mdb-icon fas icon="share-alt" class="cursor-pointer" (click)="link.toggle()" aria-hidden="true">
    </mdb-icon></span>
  <div mdbCollapse [isCollapsed]="isSearchLinkCollapsed" #link="bs-collapse" class="pr-2 pl-1">
    <table class="table">
      <tbody>
        <tr>
          <td scope="row">Short link:</td>
          <td><span>{{shortLink}} <a *ngIf="linksAvailable" href="{{shortLink}}" target="_blank">
                <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
              </a></span></td>
        </tr>
        <tr>
          <td scope="row">Full link:</td>
          <td><span>{{fullLink}} <a *ngIf="linksAvailable" href="{{fullLink}}" target="_blank">
                <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
              </a></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngFor="let package of packages" class="cloudy-knoxville-gradient z-depth-2 rounded mb-1 pd-3">
  <app-package-info [package]="package"></app-package-info>
</div>