<nav class="breadcrumb">
  <span class="breadcrumb-item active">Search</span>
</nav>
<h1>Search</h1>
<div *ngIf="!sources">
  <app-wait></app-wait>
</div>
<div *ngIf="!areSettingsSet" class="alert alert-warning" role="alert">User settings are not set. Search results will be
  for default model and version
</div>
<div *ngIf="sources">
  <form>
    <div class="row">
      <div class="col-md-10">
        <div class="md-form form-sm">
          <input mdbInput type="search" id="searchForm" class="form-control" [(ngModel)]="keyword" name="keyword"
            (keyup.enter)="$event.target.blur(); onEnter()" [mdbValidate]="false" maxLength="300" />
          <label for="searchForm" class="">Keyword</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="md-form form-group float-right">
          <a mdbBtn color="primary" size="lg" class="waves-light" (click)="onSearchButton()" mdbWavesEffect>Search</a>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="isSearchPerformed" class="py-2">
  <span>Share results <mdb-icon fas icon="share-alt" class="cursor-pointer" (click)="link.toggle()" aria-hidden="true">
    </mdb-icon>
  </span>
  <div mdbCollapse [isCollapsed]="isSearchLinkCollapsed" #link="bs-collapse" class="pr-2 pl-1">
    <table class="table">
      <tbody>
        <tr>
          <td scope="row">Short link:</td>
          <td><span>{{shortLink}} <a *ngIf="linksAvailable" href="{{shortLink}}" target="_blank"
                rel="noopener noreferrer">
                <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
              </a></span></td>
        </tr>
        <tr>
          <td scope="row">Full link:</td>
          <td><span>{{fullLink}} <a *ngIf="linksAvailable" href="{{fullLink}}" target="_blank"
                rel="noopener noreferrer">
                <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
              </a></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="isSearchPerformed">
  <div *ngFor="let result of searchResult">
    <blockquote class="blockquote bq-primary inline">
      <a class="bq-title" routerLink="/sources/{{result.name}}">{{result.name}}</a><span
        class="px-2">({{result.count}})</span>
      <app-parameters [parameters]="parameters" [showSourceName]="0" [url]="result.displayUrl" [www]="result.www">
      </app-parameters>
    </blockquote>
    <div *ngIf="!result.isSearchEnded">
      <app-wait></app-wait>
    </div>
    <div *ngIf="result.isSearchEnded">
      <div *ngIf="result.isAlternativeCache">
        <p class="alert alert-warning">Could not get data from this repository. The presented data comes from the cache
          from {{ result.cacheOldString }}. Please note that download links may not work.</p>
      </div>
      <div *ngIf="result.noPackages">
        <p class="alert alert-success">No results found</p>
      </div>
      <div *ngIf="result.errorMessage">
        <p class="alert alert-danger">{{result.errorMessage}}</p>
      </div>
      <div *ngIf="!result.noPackages && !result.errorMessage" class="container pb-4">
        <span class="float-right"><i [ngClass]="getIcon(result.isCollapsed)" style="cursor: pointer;" aria-hidden="true"
            (click)="hideResult.toggle(); changeState(result)"></i></span>
      </div>
      <div mdbCollapse [isCollapsed]="result.isCollapsed" #hideResult="bs-collapse" class="pr-2 pl-1">
        <div *ngFor="let package of result.packages" class="cloudy-knoxville-gradient z-depth-2 rounded mb-1 pd-3">
          <app-package-info [package]="package"></app-package-info>
        </div>
      </div>
    </div>
  </div>

</div>
