<nav class="breadcrumb">
  <span class="breadcrumb-item active">Sources</span>
</nav>
<app-removed-subdomain-info></app-removed-subdomain-info>
<h1>Third party package sources</h1>
<div *ngIf="!sources">
  <app-wait></app-wait>
</div>
<div *ngIf="sources">
  <div class="col-12 p-0">
    <small class="light-green-text">Last update: {{sources.lastUpdateDate | date:'long' }}</small>
  </div>
</div>
<blockquote *ngIf="sources" class="blockquote bq-primary">
  <p class="bq-title">Active repositiories:</p>
</blockquote>
<div class="row border-bottom" *ngIf="sources">
  <div class="d-inline-block d-sm-none font-weight-bold">url / browse</div>
  <div class="d-none d-md-inline-block          col-md-3 font-weight-bold">name</div>
  <div class="d-none d-sm-inline-block col-sm-9 col-md-6 font-weight-bold">url</div>
  <div class="d-none d-sm-inline-block col-sm-1 col-md-1 font-weight-bold"></div>
  <div class="d-none d-sm-inline-block col-sm-1 col-md-1 font-weight-bold">link</div>
  <div class="d-none d-sm-inline-block col-sm-1 col-md-1 font-weight-bold">status</div>
</div>
<div *ngIf="sources">
  <div class="row" *ngFor="let source of activeSources">
    <div class="d-inline-block d-sm-none mt-1">
      <a routerLink="/sources/{{source.name}}">{{ source.displayUrl }}</a>
    </div>
    <div class="d-none d-md-inline-block          col-md-3 mt-1">{{ source.name }}</div>
    <div class="d-none d-sm-inline-block col-sm-9 col-md-6 mt-1" style="word-break: break-all">{{ source.displayUrl }}</div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1 mt-1">
      <a routerLink="/sources/{{source.name}}"><mdb-icon fas icon="arrow-alt-circle-right" aria-hidden="true" style="color:blue"></mdb-icon></a>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1 mt-1" *ngIf="source.www != null" style="word-break: break-all">
      <a href="{{ source.www }}" target="_blank" rel="noopener noreferrer">
        <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
      </a>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1" *ngIf="source.www == null" style="word-break: break-all">
      <a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">
        <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
      </a>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1" *ngIf="source.isHealthy && isHealthChecksEnabled" style="text-align:center">
      <mdb-icon fas icon="check-circle" style="color:green" aria-hidden="true" data-mdb-toggle="tooltip" title="Looks good!"></mdb-icon>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1" *ngIf="!source.isHealthy && isHealthChecksEnabled" style="text-align:center">
      <mdb-icon fas icon="exclamation-triangle" style="color:orange" aria-hidden="true" data-mdb-toggle="tooltip" title="{{ source.healthCheckDescription }}"></mdb-icon>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1 col-md-1" *ngIf="!isHealthChecksEnabled" style="text-align:center">
      <mdb-icon fas icon="globe" style="color:royalblue" aria-hidden="true" data-mdb-toggle="tooltip" title="Status checking is disabled. Try it your self!"></mdb-icon>
    </div>
  </div>
</div>
<blockquote *ngIf="inactiveSources" class="blockquote bq-primary mt-3">
  <p class="bq-title">Inactive repositiories:</p>
</blockquote>
<div class="row border-bottom" *ngIf="inactiveSources">
  <div class="d-inline-block d-sm-none mt-1 font-weight-bold">url</div>
  <div class="d-none d-md-inline-block           col-md-3 col-lg-2 mt-1 font-weight-bold">name</div>
  <div class="d-none d-sm-inline-block col-sm-11 col-md-8 col-lg-5 col-xl-4 mt-1 font-weight-bold">url</div>
  <div class="d-none d-lg-inline-block                    col-lg-4 col-xl-5 mt-1 font-weight-bold">disabled reason</div>
  <div class="d-none d-sm-inline-block col-sm-1  col-md-1 mt-1 font-weight-bold">link</div>
</div>
<div *ngIf="inactiveSources">
  <div class="row" *ngFor="let source of inactiveSources">
    <div class="d-inline-block d-sm-none mt-1" *ngIf="source.www != null">
      <a href="{{ source.www }}" target="_blank" rel="noopener noreferrer">{{ source.displayUrl }}</a>
    </div>
    <div class="d-inline-block d-sm-none mt-1" *ngIf="source.www == null">
      <a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">{{ source.displayUrl }}</a>
    </div>
    <div class="d-none d-md-inline-block           col-md-3 col-lg-2 mt-1">{{ source.name }}</div>
    <div class="d-none d-sm-inline-block col-sm-11 col-md-8 col-lg-5 col-xl-4 mt-1">{{ source.displayUrl }}</div>
    <div class="d-none d-lg-inline-block                    col-lg-4 col-xl-5 mt-1">{{ source.disabledReason }}</div>
    <div class="d-none d-sm-inline-block col-sm-1  col-md-1 mt-1" *ngIf="source.www != null">
      <a href="{{ source.www }}" target="_blank" rel="noopener noreferrer">
        <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
      </a>
    </div>
    <div class="d-none d-sm-inline-block col-sm-1  col-md-1" *ngIf="source.www == null">
      <a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">
        <mdb-icon fas icon="external-link-alt" aria-hidden="true"></mdb-icon>
      </a>
    </div>
  </div>
</div>
