.hc_disabled_icon {
  color: royalblue;
}

.hc_ok_status_icon {
  color: green;
}

.hc_degraded_status_icon {
  color: orange;
}

.browse_arrow {
  color: blue;
}

.url_word_break {
  word-break: break-all
}


.tooltip2 {
  position: relative;
  display: inline-block;
  color: black;
}

.tooltip2 .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -86px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}


.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.center_column {
  text-align: center;
}
