
.copy_url {
  color: blue;
  cursor: pointer;
}

.tooltip1 {
  position: relative;
  display: inline-block;
  color: black;
}

.tooltip1 .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -86px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
