<div mdbModal #downloadModal="mdbModal" class="modal fade top" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-top" role="document">
    <div *ngIf="dialogShown" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="downloadModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Downloading package {{package.name}}...</h4>
      </div>
      <div class="modal-body">
        <blockquote class="py-0 px-0 my-0">
          <ng-container *ngIf="dialogShown">
            <img src="{{ package.thumbnailUrl }}" alt="{{ package.name }}" width="72" height="72"
              class="float-left py-1 pr-2 pl-1" />
          </ng-container>
          <span class="" style="font-size: 1.5rem">{{package.name}}</span>
          <img *ngIf="package.isBeta" src="assets/beta.png" alt="beta" class="pr-2 pl-1" />
          <span class="float-right px-1 py-1" style="font-size: 0.8rem">Version : {{ package.version }}</span>
        </blockquote>
        <p class="pd-2 px-2">{{package.description}}</p>
        <p class=""><small><i>You are going to download package directly from source server. We think it is better to
              add the source to package center and then install the package. This is better solution if you expect
              updates. Do you want to proceed?</i></small></p>
      </div>
      <div class="modal-footer">
        <div *ngIf="waitForDownload">
          <span class="small">Waiting for response...</span>
        </div>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="downloadModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="download()"
          mdbWavesEffect>Download
        </button>
      </div>
    </div>
  </div>
</div>
