<!--The content below is only a placeholder and can be replaced.-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark cyan scrolling-navbar ie-nav" [containerInside]="false" >
  <logo>
    <a class="logo navbar-brand" href="#"><strong>{{ title }}</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="home" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="sources" >Sources <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="showUserSettingsModal()"><i class="fa fa-gear" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<main>
  <app-user-settings #basicModal></app-user-settings>
  <div class="container">
    <div class="row pt-5" style="margin-top:35px;">
      <div class="col text-center">
        <div style="text-align:center">
          <h1>
            Welcome to {{ title }}!
          </h1>
          <!-- <img width="300" alt="Angular Logo" class="animated fadeInDownBig" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
          <p>I wise gecko told me once: <b>"code doesn't lie!"</b></p>

          <!--Social buttons-->
          <div class="text-center mb-3">

            <a class="btn-floating btn-small btn-fb waves-light">
              <i class="fa fa-facebook"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-tw waves-light">
              <i class="fa fa-twitter"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-gplus waves-light">
              <i class="fa fa-google-plus"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-li waves-light">
              <i class="fa fa-linkedin"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-git waves-light">
              <i class="fa fa-github"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-pin waves-light">
              <i class="fa fa-pinterest"> </i>
            </a>
            &nbsp;
            <a class="btn-floating btn-small btn-ins waves-light">
              <i class="fa fa-instagram"> </i>
            </a>

          </div>
          <!--/.Social buttons-->
        </div>
      </div>
    </div>
    
    <div class="row justify-content-md-center" >
      <div class="col-md-9 " style="margin-top:35px; height:400px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h5 class="title">Footer Content </h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-2 offset-md-1">
        <h5 class="title">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-2">
        <h5 class="title">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-md-2">
        <h5 class="title">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <!-- <div class="call-to-action text-center py-3">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <h5>Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sign up!</a>
      </li>
    </ul>
  </div> -->
  <!--/.Call to action-->

  <hr>
  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://www.synopackage.com"> synopackage_dotnet.com </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
