<!--The content below is only a placeholder and can be replaced.-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark cyan scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#"><strong>{{ title }}</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="sources">Sources <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="search">Search <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="navbar-text white-text">
      <app-user-settings-display></app-user-settings-display>
    </div>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="showUserSettingsModal()">
          <i *ngIf="isSetup()" class="fa fa-gear" aria-hidden="true"></i>
          <i *ngIf="!isSetup()" class="fa fa-gear yellow-text" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="https://www.facebook.com/synopackage/" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
    </ul>

  </links>
</mdb-navbar>
<main>
  <div class="container" style="margin-bottom: 50px;">
    <app-user-settings #basicModal></app-user-settings>
    <div class="row justify-content-md-center " style="margin-top:35px;">
      <div class="col-md-9 " style="margin-top:35px; height:auto;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<!--Footer-->
<footer class="page-footer font-small fixed-bottom footer-copyright blue py-1 text-center text-white">
  <div class="container-fluid"><small>szyb 2017 - {{ actualYear }}. Source code can be found on
      <a href="https://github.com/szyb/synopackage_dotnet" target="_blank">github</a>.
      Special thanks to jdel for the <a href="https://github.com/jdel/sspks" target="_blank">project</a>. <a routerLink="credits">Credits
        &amp; third party libraries.</a><span> Our <a routerLink="privacy-policy">Privacy Policy</a>. </span><span>
        Version: <a routerLink="changelog">{{version}}</a></span>

    </small>
  </div>
</footer>

<!--/.Footer-->