<div *ngIf="parameters">
  <table mdbTable borderless="true">
    <tbody>
      <tr mdbTableRow *ngIf="showSourceName">
        <td scope="row" class="px-2 py-0 captionColumn"><span>Source name:</span></td>
        <td class="py-0"><span>{{ parameters.sourceName }}</span></td>
      </tr>
      <tr mdbTableRow *ngIf="url">
        <td scope="row" class="px-2 py-0 captionColumn"><span>Url:</span></td>
        <td class="py-0"><span>{{url}}<a href="{{www}}" target="_blank" rel="noopener noreferrer">&nbsp;<mdb-icon fas
                icon="external-link-alt" aria-hidden="true"></mdb-icon></a></span></td>
      </tr>
      <tr mdbTableRow *ngIf="parameters.model">
        <td scope="row" class="px-2 py-0 captionColumn"><span>Model:</span></td>
        <td class="py-0"><span>{{ parameters.model }}</span></td>
      </tr>
      <tr mdbTableRow *ngIf="parameters.version">
        <td scope="row" class="px-2 py-0 captionColumn"><span>Version:</span></td>
        <td class="py-0"><span>{{ parameters.version }}</span></td>
      </tr>
      <tr mdbTableRow>
        <td scope="row" class="px-2 py-0 captionColumn"><span>Channel:</span></td>
        <td class="py-0"><span>{{ getChannel(parameters.isBeta) }}</span></td>
      </tr>
      <tr mdbTableRow *ngIf="parameters.keyword captionColumn">
        <td scope="row" class="px-2 py-0"><span>Keyword:</span></td>
        <td class="py-0"><span>{{ parameters.keyword }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
