<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">User settings</h4>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col"><span>Version</span></div>
                  <div class="col">
                      <ng-select [items]="versions"
                        bindLabel="version" 
                        bindValue="version"
                        [required]="true"
                        [clearable]="false"
                        [(ngModel)]="selectedVersion">
                      </ng-select>
                  </div>
              </div>
              <div class="row">
                    <div class="col"><span>Model</span></div>
                    <div class="col">
                      <ng-select [items]="models"
                        bindLabel="display"
                        bindValue="name"
                        [required]="true"
                        [clearable]="false"
                        [(ngModel)]="selectedModel">
                      </ng-select>
                    </div>
                </div>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="save()" mdbWavesEffect>Save changes</button>
        </div>
      </div>
    </div>
  </div>