<nav class="breadcrumb">
  <span class="breadcrumb-item active">Sources</span>
</nav>
<h1>Third party package sources</h1>
<div *ngIf="!sources">
  <app-wait></app-wait>
</div>
<!-- <div *ngIf="!sources" class="row justify-content-md-center" >
  <div class="col-md-1 " style="margin-top:35px; height:400px;">
    <i class="animated bounceIn infinite green-text fa fa-gift fa-3x" aria-hidden="true"></i>
  </div>
</div> -->
<blockquote *ngIf="sources" class="blockquote bq-primary">
  <p class="bq-title">Active repositiories:</p>
</blockquote>
<!-- <h3 *ngIf="sources">Active repositiories:</h3> -->
<table class="table" *ngIf="sources">
  <thead>
    <tr>
      <th>name</th>
      <th>url</th>
      <th>browse</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let source of activeSources">
      <td>{{ source.name }}</td>
      <td>{{ source.url }}</td>
      <td><a routerLink="/sources/{{source.name}}">browse</a></td>
      <td *ngIf="source.www != null"><a href="{{ source.www }}" target="_blank">Visit website</a></td>
      <td *ngIf="source.www == null"><a href="{{ source.url }}" target="_blank">Visit website</a></td>
    </tr>
  </tbody>
</table>
<blockquote *ngIf="sources" class="blockquote bq-primary">
  <p class="bq-title">Inactive repositiories:</p>
</blockquote>
<!-- <h3 *ngIf="sources">Inactive repositiories:</h3> -->
<table class="table" *ngIf="sources">
  <thead>
    <tr>
      <th>name</th>
      <th>url</th>
      <th>link</th>
      <th>Disabled reason</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let source of inActiveSources">
      <td>{{ source.name }}</td>
      <td>{{ source.url }}</td>
      <td *ngIf="source.www != null"><a href="{{ source.www }}" target="_blank">Visit website</a></td>
      <td *ngIf="source.www == null"><a href="{{ source.url }}" target="_blank">Visit website</a></td>
      <td>{{ source.disabledReason }}</td>
    </tr>
  </tbody>
</table>