<h1>Browse source</h1>
<div *ngIf="!sources">
  <app-wait></app-wait>
</div>
<!-- <div *ngIf="!sources" class="row justify-content-md-center" >
  <div class="col-md-1 " style="margin-top:35px; height:400px;">
    <i class="animated bounceIn infinite green-text fa fa-gift fa-3x" aria-hidden="true"></i>
  </div>
</div> -->
<table class="table" *ngIf="sources">
    <thead>
      <tr>
        <th>name</th>
        <th>url</th>
        <th>browse</th>
        <th>link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let source of sources">
        <td>{{ source.name }}</td>
        <td>{{ source.url }}</td>
        <td>browse</td>
        <td *ngIf="source.www != null"><a href="{{ source.www }}" target="_blank">Visit website1</a></td>
        <td *ngIf="source.www == null"><a href="{{ source.url }}" target="_blank">Visit website2</a></td>
      </tr>
    </tbody>
  </table>