<nav class="breadcrumb">
  <span class="breadcrumb-item active">Home</span>
</nav>
<h1>Home</h1>
<div *ngIf="!news">
  <app-wait></app-wait>
</div>
<div *ngFor="let n of news">
  <div class="pb-3">
    <blockquote class="blockquote bq-primary">
      <p class="bq-title">{{ n.title }}</p>
      <span style="font-size: 0.8rem">{{ n.date }}</span>
    </blockquote>
    <div class="rounded border px-2 py-2">
      <p *ngFor="let b of n.body">{{ b }}</p>
      <div>
        <a *ngIf="n.routerLinkDescription" [routerLink]="n.routerLink">{{n.routerLinkDescription}}</a>
        <a *ngIf="n.externalLinkDescription" href="{{n.externalLink}}" target="_blank">{{n.externalLinkDescription}}</a>
      </div>
    </div>
  </div>
</div>