<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/info">Info</a>
  <span class="breadcrumb-item active">Privacy policy</span>
</nav>
<app-removed-subdomain-info></app-removed-subdomain-info>
<h1>Privacy Policy</h1>

<div *ngFor="let entry of privacyPolicies" class="rounded border px-2 py-2 my-3 cloudy-knoxville-gradient z-depth-2">
  <p>
    <mdb-icon far icon="check-square" size="2x" class="green-text" aria-hidden="true"></mdb-icon>
    <span class="fa-2x pl-1">{{entry.title}}</span>
  </p>
  <div [innerHTML]="entry.description"></div>
  <div *ngIf="entry.link">
    <a href="{{entry.link}}" target="_blank" rel="noopener noreferrer">{{entry.linkDescription}}</a>
  </div>
</div>
