<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<rewrite>
    <rules>
      <rule name="Remove www" stopProcessing="true">
        <match url="(.*)" negate="false"></match>
        <conditions>
          <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
        </conditions>
        <action type="Redirect" url="https://{C:1}/{R:1}" appendQueryString="true" redirectType="Temporary" />
      </rule>
      <rule name="Redirect do HTTPS" stopProcessing="true">
        <match url="(.*)" />
          <conditions>  
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>  
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
      </rule>
    </rules>
   </rewrite>
</system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\synopackage_dotnet.dll" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout">
        <environmentVariables>
          <environmentVariable  name="ASPNETCORE_ENVIRONMENT" value="production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: e33a3e9e-3a19-43e6-8e96-26248dfebaed-->
